.user-join--search{
	position: relative;
}
.dropdown-inner {
	display: none;
	position: absolute;
	z-index: 2;
	left: auto;
	top: 30px;
	border: 1px solid #ced1d1;
	border-radius: 3px;
	width: 239px;
	padding: 5px 0;
	background: #fff;
}
.dropdown-text{
	margin: 0 0 5px;
	font-size: 12px;
	font-family: sans-serif;
}
.dropdown-input{
	display: block;
	width: 100%;
}
.dropdown-inner-inner--cont{
	padding: 10px;
}